{{> dashboardHeader}}
<div class="wrapper" style="height: auto;">

    {{>nav}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{subtitle}}
            </h1>
        </section>

        {{> flash}}
        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            {{>metrics}}
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Box Comment -->
{{#each jobInfo}}
                    <div class="box box-widget collapsed-box">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="../dist/img/user1-128x128.png" alt="User Image">

                                <span class="username"><a href="/doslationTo/{{_id}}">Company: {{this.company}} | Title: {{this.position_name}}</a></span>
                                <span class="username"><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-winner"></i> {{this.score}} Points</button> | {{this.counter}} Answers</span>
                                <a href="{{this.link}}" target="_blank" class="btn btn-default btn-sm pull-right">Job Detail</a>
                            </div>
                            <!-- /.user-block -->
                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <!-- post text -->
                            <h3>Company: </h3>{{this.company}}
                            <h3>Title: </h3>{{this.position_name}}
                            <h3>Salary: </h3>{{this.salary}}
                            <h3>Description: </h3>
                            {{{this.description}}}
                            <!-- /.attachment-block -->

                            <!-- Social sharing buttons -->
                            <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                            <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-winner"></i> {{this.score}} Points</button>
                            <span class="pull-right text-muted">{{this.counter}} Doslations</span>
                        </div>
                        <!-- /.box-body -->
                        <!-- /.box-footer -->
                        <div class="box-footer" align="right">
                            <a href="/doslationTo/{{this._id}}" class="btn btn-success btn-lg"><i class="fa fa-pencil"></i> Doslation it!</a>
                        </div>
                        <!-- /.box-footer -->
                    </div>
{{/each}}
                    <!-- /.box -->
                    <button type="button" class="btn btn-default btn-block"><i class="fa fa-repeat"></i> More</button>
                </div>
            </div>
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
    </div>

</div>
<!-- /#wrapper -->