{{> dashboardHeader}}
<div class="wrapper" style="height: auto;">

    {{>nav}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{subtitle}}
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Main row -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Box Comment -->
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="../dist/img/user1-128x128.png" alt="User Image">
                                <span class="username"><a href="/doslation/{{jobInfo._id}}">Company: {{jobInfo.company}} | Title: {{jobInfo.position_name}}</a></span>
                            </div>
                            <!-- /.user-block -->
                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <!-- post text -->
                            <h3>Company: </h3>{{jobInfo.company}}
                            <h3>Title: </h3>{{jobInfo.position_name}}
                            <h3>Salary: </h3>{{jobInfo.salary}}
                            <h3>Description: </h3>
                            {{{jobInfo.description}}}

                            <!-- Social sharing buttons -->
                            <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                            <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-winner"></i> {{jobInfo.score}} Points</button>
                            <span class="pull-right text-muted">{{jobInfo.counter}} Doslations</span>
                        </div>
                        <!-- /.box-body -->
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Let's Help out!
                                    <small>Donate your translation</small>
                                </h3>
                                <!-- /. tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body pad">
                                <form action="/doslation" method="post" id="doslationForm">
                                    <input type="hidden" value="{{_csrf}}" name="_csrf">
                                    <input type="hidden" value="{{jobInfo._id}}" name="jobId">
                                    <input type="hidden" value="" name="language" id="languageInput">
                                    <input type="hidden" value="{{jobInfo.score}}" name="score">
                                    <textarea style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid rgb(221, 221, 221); padding: 10px;" name="translation"></textarea>
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-info">Save Draft</button>
                                        </div>
                                        <div class="btn-group dropup" role="group">
                                            <div class="dropdown">
                                                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Submit as
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu btn btn-default btn-lg" aria-labelledby="dropdownMenu1">
                                                    <li ><button class="btn btn-default" id="arabicBtn">Arabic</button></li>
                                                    <li><button class="btn btn-default" id="pashtoBtn">Pashto</button></li>
                                                    <li><button class="btn btn-default" id="albanianBtn">Albanian</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <a href="/dashboard" class="btn btn-danger">Discard</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
    </div>

</div>
<!-- /#wrapper -->
<script>
    $( "#arabicBtn" ).click(function() {
        $("#languageInput").val("arabic");
        $("#doslationForm").submit();
    });

    $( "#pashtoBtn" ).click(function() {
        $("#languageInput").val("pashto");
        $("#doslationForm").submit();
    });

    $( "#albanianBtn" ).click(function() {
        $("#languageInput").val("albanian");
        $("#doslationForm").submit();
    });
</script>
